{% extends 'base/main.html' %}

{% block title %}
    AA propos de nous...
{% endblock %}

{% block content %}



  <!-- Presentation -->
  <section class="p-5 p-lg-0 pt-lg-5 text-center mt-4 text-sm-start">
    <div class="container">
        <div class="row justify-content-between">
            <h1 class="text-center"> Accord Pharma </span> </h1>
            <p class="lead" style="text-align:justify;">
                

                Accord Pharma une entreprise (SARL) regulierement enregistree et 
                        operationnelle au Togo qui assure la liaison entre les laboratoires 
                        pharmaceutiques internationaux et le marche togolais.

            </p>
        </div>
    </div>
</section>






  <!-- CONTACT MESSAGE -->
  <section class="p-1 mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-between mb-5">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Situation geographique : </span> EPP Agbalepedo Groupe C
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Telephone : </span> (+228) 90 39 70 26 / 
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Office : </span> (+228) 96 02 06 56
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">E-mail : </span> seliyawo@gmail.com
                    </li>
                </ul>
            </div>

             <!-- Formulaire de Contact -->
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="mb-3">Laissez-nous un message</h3>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                    
                </div>
            </div>
        </div>

        </div>
    </div>
</section>




{% endblock %}