{% extends 'base/main.html' %}

{% block title %}
    Consommables medicaux...
{% endblock %}

{% block content %}



 <!-- Accord Pharma -->
<section id="learn" class="p-3">
    <div class="container">
      <div class="row align-items-center justify-content-between mt-5">
        <div class="col-md">
          <p class="display-5 text-center"> 
            Accord répond efficacement aux besoins en matériel et consommables des professionnels de la santé. 
            Nous vous proposons une large gamme de produits de qualité pour votre bien-être et votre santé.
         </p>
        </div>
      </div>
    </div>
</section>



{% endblock %}